<div class="tech-btm">

    @*<p>Pellentesque dui, non felis. Maecenas male </p>*@
    <form>
        <input id="form_email" type="email" placeholder="Email" required="" name="Mail">
        <a id="btnemail" class="btn btn-primary col-12 read-m "><span>Gönder</span></a>
        <p id="myElem" style="display:none">Mail Bültenine başarıyla kayıt olundu.</p>
    </form>
</div>


