<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>
                    Blog herkes tarafından duyulan bir kelimedir. Web sitesi olarak bilinen bloglar,
                    alt sayfa olarak bilinen site türleri değildir.  Farklı makalelerin farklı konularda
                    ele alınmasıyla oluşan bir sitedir. Blog sitelerin en önemli özelliği, özellikle
                    içerikleri oluşturan yazarların yazdığı içerikleri birinci şahıs bakış açısıyla yazmasıdır.
                    Kendi fikri ve düşüncelerini katarak yazılan yazıların tümüdür...
                </p>
                <div class="read">
                    <a href="single.html" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>
            @await Component.InvokeAsync("Last3BlogFooter")
           @* @await Html.PartialAsync("FooterLatestPost3Partial")*@
            <!-- subscribe -->
            @* @await Html.PartialAsync("FooterNewsLetterPartial")*@
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <div class="tech-btm">
                    <h3 class="text-white">Mail Bültenine Abone Ol.</h3>
                    @await Html.PartialAsync("~/Views/Newsletter/SubscribeMail.cshtml")
                </div>
            </div>

        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-pinterest-p"></i>
                                <span>Pinterest</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    Copyright © @DateTime.Now.Year RehberGençlikKulübü . Tüm Hakları Saklıdır. | Design by Halil AK
                    @* <a href="http://w3layouts.com/">W3layouts</a>*@
                </p>

            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>